name: discord-bot
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./discord-bot/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache-dependency-path: ./discord-bot/go.sum

      - name: Install dependencies
        run: go mod download

      - name: Run Tests
        run: go test -v ./...

      - name: Build
        run: go build .
